.loggeduser{
    width: 100%;
    text-align: center;
    font-size: 150%;
    padding-top: 1vh;
    gap:20px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.button{
    border-radius: 10px;
    text-decoration: none;
    background-color: #2D2C31;
    color: #F0EFEB;
}